<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" <% if(!deferLoad) { %>ng-app="docsApp" <% } %> lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" <% if(!deferLoad) { %>ng-app="docsApp" <% } %> lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" <% if(!deferLoad) { %>ng-app="docsApp" <% } %> lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" <% if(!deferLoad) { %>ng-app="docsApp" <% } %> lang="en" ng-controller="DocsController"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
  content="AngularJS is what HTML would have been, had it been designed for building web-apps.
  Declarative templates with data-binding, MVC, dependency injection and great
  testability story all implemented with pure client-side JavaScript!">
  <meta name="fragment" content="!">
  <title ng-bind-template="<%= title || 'Doc' %>: {{partialTitle}}">Docs</title>
  <script type="text/javascript">
    // dynamically add base tag as well as css and javascript files.
    // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
    // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
    (function() {
      var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1],
      rUrl = /(#!\/|<%= sections %>|index[^\.]*\.html).*$/,
      origin = location.origin || (window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '')),
      baseUrl = origin + location.href.substr(origin.length).replace(rUrl, indexFile),
      headEl = document.getElementsByTagName('head')[0],
      sync = true;

      addTag('base', {href: baseUrl});
      addTag('link', {rel: 'stylesheet', href: 'css/min/styles.min.css', type: 'text/css'});

      <% _.forEach(styles, function(url) { %>
       addTag('link', {rel: 'stylesheet', href: '<%= url %>', type: 'text/css'}, sync);
       <% }); %>

      <% _.forEach(scripts, function(url) { %>
        addTag('script', {src: '<%= url %>'}, sync);
        <% }); %>
      <% if(!deferLoad) { %>
        addTag('script', {src: 'js/min/scripts.min.js'}, sync);
        addTag('script', {src: 'js/docs-setup.js'}, sync);
      <% } %>
      function addTag(name, attributes, sync) {
        var el = document.createElement(name),
        attrName;

        for (attrName in attributes) {
          el.setAttribute(attrName, attributes[attrName]);
        }

        sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
      }

      function outerHTML(node){
        // if IE, Chrome take the internal method otherwise build one
        return node.outerHTML || (
          function(n){
            var div = document.createElement('div'), h;
            div.appendChild(n);
            h = div.innerHTML;
            div = null;
            return h;
          })(node);
        }
      })();
      <% if (analytics) { %>
    // GA asynchronous tracker
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= analytics.account %>']);
    _gaq.push(['_setDomainName', '<%= analytics.domainName %>']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    <% } %>
    </script>
  </head>

  <body>
    <header class="header">
      <div class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="container">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="nav.isCollapsed = !nav.isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>           
            
            <% if (image) { %>
                <a class="navbar-brand" href="<%= imageLink %>">
                  <img alt="Brand" src="<%= image %>" height="20">
                </a>
            <% } %>

            <% if (title) {%>  <a <% if (titleLink) { %> href="<%= titleLink %>" <% } %> class="navbar-brand"><%= title %></a> <% } %>


          </div> <!-- navbar-header END -->

          <div class="collapse navbar-collapse" collapse="nav.isCollapsed">
              <ul class="nav navbar-nav">
                  <li ng-repeat="(url, name) in sections" ng-class="{active: isActivePath(url)}" dropdown>
                      <a ng-href="{{url}}"><i class="icon-book icon-white"></i> {{name}}</a>
                  </li>
              </ul>

              <form class="navbar-form visible-xs visible-sm" role="search">
                  <div class="form-group">
                      <select ng-model="nav.selected" ng-options="module as module.name for module in modules" class="form-control" ng-change="goToSelected(nav.selected)">
                          <option value="" ng-init="defaultText = 'Go to module'" ng-bind="nav.selected.name || defaultText"></option>
                      </select>
                  </div>
              </form>
              <%= navContent %>
          </div> <!-- collapse END -->
        

        </div> <!-- container END -->


      </div> <!-- navbar END -->
    </header>

    <div role="main" class="container">
      <div class="row clear-navbar"></div>

      <div class="row">
        <div class="col-xs-12">
        <!--[if lt IE 7]>
        <p class="alert alert-error">Your browser is <em>ancient!</em>
          <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
          experience this site.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <div class="alert">
          You are using an old version of Internet Explorer.
          For better and safer browsing experience please <a href="http://www.microsoft.com/IE9">upgrade IE</a>
          or install <a href="http://google.com/chrome">Google Chrome browser</a>.
        </div>
        <![endif]-->
      </div>
    </div>

    <div class="row">

      <!-- Sticky sidebar -->
      <div class="col-xs-12 col-md-3 sidebar">
          
        <div class="form-group">
            <input 
                class="form-control" 
                typeahead="module as module.name for module in modules | filter:$viewValue | limitTo:12" 
                typeahead-on-select="goToSelected($item)"
                type="text" ng-model="nav.selected" placeholder="search the docs" tabindex="1" accesskey="s" focused="focused">
        </div>
   
        <ul class="minimal list-group hidden-xs hidden-sm" ng-repeat="module in modules track by $index">
            <a href="{{module.url}}"> {{module.name}} </a>
            
            <!-- Opening accordion -->
            <li accordion class="list-group-item" close-others="true">

                <!-- Directives -->
                    <accordion-group ng-if="module.directives.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>

                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Directives </span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)">
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.shortName}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Controllers -->
                    <accordion-group ng-if="module.controllers.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Controllers</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.controllers track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.shortName}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Filters -->
                    <accordion-group ng-if="module.filters.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Filters</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.filters track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.shortName}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Services -->
                    <accordion-group ng-if="module.services.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Services</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.services track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.instance.type}}</mark>  </dt>
                            <dd> <a href="{{page.instance.url}}">{{page.name}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Types -->
                    <accordion-group ng-if="module.types.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Types</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.types track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.name}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Globals -->
                    <accordion-group ng-if="module.globals.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Globals</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.globals track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.shortName}}</a> </dd>
                        </dl>
                    </accordion-group>

                <!-- Others -->
                    <accordion-group ng-if="module.others.length" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <accordion-heading>
                            <span class="caret caret-west" ng-class="$parent.isOpen ? 'caret-south' : 'caret-west'"></span> <span class="small">Others</span>
                        </accordion-heading>
                        <dl class="small" ng-repeat="page in module.others track by page.url" ng-class="navClass(page)"> 
                            <dt> <mark class="pull-right">{{page.type}}</mark>  </dt>
                            <dd> <a href="{{page.url}}">{{page.shortName}}</a> </dd>
                        </dl>
                    </accordion-group>

            </li>
            <!-- Closing accordion -->

        </ul>

    </div>

    <!-- Sticky sidebar END -->

    <div class="col-xs-12 col-md-9">

      <ol class="breadcrumb hidden-xs">
        <li ng-repeat="crumb in breadcrumb">
          <span ng-if="!crumb.url">{{crumb.name}}</span>
          <a ng-if="crumb.url" href="{{crumb.url}}">{{crumb.name}}</a>
        </li>
      </ol>

      <div id="loading" ng-show="loading">Loading...</div>

      <div ng-hide="loading" ng-include src="currentPage.partialUrl" onload="afterPartialLoaded()" autoscroll class="content slide-reveal"></div>
      <% if (discussions) { %>
      <div id="disqus" class="disqus">
        <h2>Discussion</h2>
        <div id="disqus_thread" class="content-panel-content"></div>
      </div>
      <% } %>
    </div>
  </div>
</div>

</body>
</html>
