body { padding-top: 70px; }

code {
  color: #000;
  background-color: #f5f5f5;
}

.hint {
  font-size: 40%;
}

.list-group.minimal {}
.list-group.minimal .list-group-item { border: 0 transparent; padding: 0; background: transparent; }
.list-group.minimal .panel-group { margin-bottom: 0; }
.list-group.minimal .panel-group .panel-heading { background: transparent; border: 0 transparent; padding-left: 0; }
.list-group.minimal .panel-group .panel-heading h4 { font-size: 1.28em; }
.list-group.minimal .panel-group .panel { border: 0 transparent; box-shadow: none !important; -webkit-box-shadow: none !important; }
.list-group.minimal .panel-group .panel .panel-collapse .panel-body { padding-top: 0; padding-left: 0; padding-right: 0; border-top: 0 transparent; }

.minimal a { text-decoration: none; }

.minimal dl { margin-bottom: 10px; }
.minimal dl.active .minimal dd::after {
  content: '';
  width: 0.6em;
  height: 0.6em;
  background: #90EE90;
  display: inline-block;
  border-radius: 100%;
  margin-left: 1em;
}

.caret.caret-north {
  border-top: 0;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret.caret-east {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}

.caret.caret-west {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}


/* Code hinting */
.type-hint {
  display:inline-block;
}

.variables-matrix .type-hint {
  text-align:center;
  display:block;
  min-width:60px;
}

.type-hint + .type-hint {
  margin-top:5px;
}

.type-hint-string {
  background:#3a87ad;
}

.type-hint-object {
  background:#999;
}

.type-hint-array {
  background:#F90;;
}

.type-hint-boolean {
  background:rgb(18, 131, 39);
}

.type-hint-number {
  background:rgb(189, 63, 66);
}
