@font-face {
    font-family: 'Muli';
    src: url('../font/Muli-Regular.woff') format('woff'),
         url('../font/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-stretch: semi-expanded;
}

body {
    position: relative;
    font-family: 'Muli', Helvetica, Arial, sans-serif;
}

.main-body-grid {
    margin-top: 40px;
    position: relative;
}

.navbar-header {
  width: 280px;
}

.grid-left,
.grid-right {
  padding-bottom: 100px;
}

.grid-left {
    position: fixed;
    top: 40px;
    bottom: 0;
    overflow: auto;
    width: 280px;
    padding: 20px 0;
    overflow-x: hidden;
}

.grid-right {
    padding: 20px 0;
    position: relative;
    margin-left: 300px;
}

.guide { margin-top: 2px; }

.grid-left .nav > li > a.code {
    display: inline-block;
}

.grid-left .nav > li > a.guide {
    padding-top: 2px;
    padding-bottom: 2px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-normal {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: none;
}

.admin-leftnav {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0
  left: 0;
  height: 100%;
  width: 300px;

  padding: 20px;
  padding-bottom: 100px;
  padding-top: 20px;

  background-color: #3e434b;
}

.admin-content {
  position: fixed;
  overflow: scroll;
  left: 300px;
  top: 50px;
  bottom: 0;
  height: 100%;
  width: 100%;

  padding-bottom: 100px;
  padding-left: 40px;
  padding-top: 40px;

  background-color: #EEEEEE;
}

.form-search .well .guide {
  padding-top: 10px;
}

.img-logo {
  max-height: 70px;
}

.logo-link {
  display: block;
  text-align: center;
}

.navbar-admin {
  background-color: #fff;
  margin-bottom: 0;
  left: 300px;
}

.container-content {
  margin-left: 0;
  max-width: 960px;
}

code {
  color: #5f2b5d; /* PD PURPLE */
}

a {
  color: #ff9406; /* PD ORANGE */
  transition: color .2s ease-out;
}

a:hover, a:focus {
  color: #b86900;
}

.navbar-search {
  display: inline-block;
  float: left;
  width: 300px;
  margin-right: 20px;
  padding-top: 10px;
}

.match > a, .nav > .match > a:hover {
	background-color: #5f2b5d;
}

.navbar-search input {
  border: 0;
}

.navbar-brand {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.type-hint-promise {
  background-color: #ff9406; /* PD ORANGE */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #EEEEEE;
}
